/* Header hours block (week view) from gelmanWeek(). */

  #header-hours {
  float: right;
  font-family: helvetica, arial;
  font-size: .7em;
  }
  #header-hours .handheld { display: none; }
  @media screen and (max-width:720px) {
    #header-hours .handheld {
      display: inline-block;
      margin-right: 4px;
    }
    #header-hours .handheld > * {
      color: #fff;
      display: block;
    }
    #header-hours .handheld-hours { font-size: 1.4em; margin-top: 4px; }
    #header-hours .handheld-hours-links { font-size: 1.2em; margin-top: 6px; text-align: right; }
    #header-hours .handheld-hours-links a { color: #fff; text-decoration: none; font-style: italic; }
    #header-hours .handheld-hours-links a:hover { text-decoration: underline; }

  }
  #header-hours table {
  border-spacing: 0;
  float: right;
  }
  #header-hours table td {
  padding: .3em .4em;
  margin: 0;
  border-left: 4px solid #005581;
  max-width: 52px;
  white-space: initial;
  }
  #header-hours table tr:first-child {
  background-color: #005581;
  color: /*#ffcB2e*/ #fff /*#ffeebb*/;
  }
  #header-hours table tr:first-child td {
  padding-left: 0;
  font-size: 1.1em;
  }
 #header-hours table tr:nth-child(2) {
  background-color: /*#ffcB2e*/ #fff /*#ffeebb*/;
  color: #005581;
  }
  #header-hours table tr:nth-child(3) {
  color: #fff /*#ffeebb*/;
  }
  #header-hours table tr:nth-child(4) td {
  /*background-color: #005581 !important;*/
  color: #fff /*#ffeebb*/ !important;
  text-align: right;
  padding-right: 0;
  padding-top: .4em;
  font-size: 1.1em;
  padding-bottom: 0;
  }
  #header-hours table tr:nth-child(4) td a {
  color: #fff /*#ffeebb*/;
  text-decoration: none;
  }
  #header-hours table tr:nth-child(4) td a:hover {
  text-decoration: underline;
  }
  #header-hours table tr:nth-child(2) td:first-child, table tr:nth-child(3) td:first-child {
  background-color: #fff /*#ffeebb*/;
  color: #005581;
  padding-left: .6em;
  font-weight: bold;
  }
  #header-hours table tr:first-child td:first-child {
  /*border-bottom-right-radius: 0px;*/
  }
  #header-hours table tr:nth-child(3) td:first-child {
  /*border-top-right-radius: 0px;*/
  }
  #header-hours .container {
  padding:7px 0;
  }

/* Styling for Gelman hours box (today's hours) block. */

#block-library_hours-library_hours_all { margin-top: -3em; }
.hoursText { margin-bottom: 0.6em; }
.hoursToday { font-weight: bold; }
.hoursDay { font-weight: bold; }

.gelman-hours { 
  margin-top: 1em;
  margin-bottom: .2em; 
}
.gelman-hours-day {
    display: inline-block;
    margin-bottom: .3em;
    margin-top: .2em;
}
.gelman-hours-day-suffix { display: none; }
.gelman-hours-time { font-size: 1.2em; }
.library-hours-last { margin-top: 1em; }

/* Styling for main Hours page block. */

.equalHMRWrap {
        /*justify-content: space-between;*/
        flex-wrap: wrap;
}
.eqWrap {
        display: flex;
}
.eq {
        padding: 10px;
        border: 1px solid #ccc;
        border-left: 0;
}
.headHMR .eq {
  padding-bottom: 0;  
  border: none;
}

.headTitleHMR.eq { padding-left: 0; }

.eq:first-child {
  background: #005581;
  border-left: 1px solid #ccc;
  color: #fff;
  border: 1px solid #005581;
}

.headHMR .eq:first-child {
  color: #333;
  background: #fff;
  border: none;
}

.eq:nth-of-type(odd) {
        /*background: yellow;*/
}

.eq:nth-of-type(even) {
        /*background: lightblue;*/
}
.paddingBlock {
        padding: 0;
}
.paddingBlock h3 { 
  font-weight: bold; 
  margin: 0; 
}

.equalHMR {
  width: 12%;
  margin-bottom: 2%;
}

.headHMR .headTitleHMR {
  min-width: 30%;
  margin-bottom: 0;
} 

.headHMR .headTextHMR {
  min-width: 56%;
  margin-bottom: 0;
}

.hours-joiner { font-size: 90%; }

/* MEDIA QUERIES */

@media screen and (max-width:965px) {
  #topheader-container #header-hours {
    margin-right: .5em;
    display: inline-block;
    overflow: hidden;
    max-width: 62%;
    white-space: nowrap;
  }
}

@media screen and (max-width:950px) {
  .equalHMR { width: 11%; }
}

@media screen and (max-width:850px) {
  .headHMR .headTitleHMR {
    width: 90%;
  }
  .headHMR .headTextHMR {
    padding-left: 0;
    padding-top: 1px;
  }
}
@media screen and (max-width:750px) {
  .equalHMR { width: 10%; }
}

@media screen and (max-width:720px) {
  #header-hours table { margin-bottom: 0; }
  #header-hours table tr:first-child { display: none; }
  #header-hours .container { padding: 7px 0 0 !important; }
  #header-hours table { display: none; }
  #header-hours .handheld { display: inline-block }
}

@media screen and (max-width:640px) {
  .equalHMR { width: 21%; }
  .eq { padding: 6px; }
  .eq:nth-child(5) { border-left: 1px solid #ccc; }
  .paddingBlock h3 { margin-top: 0.5em; }
}

@media screen and (max-width:360px) {
  #topheader-container #header-hours { max-width: 50%; }
}

